
{
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
    background-image: url();
  }
  .wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a{
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #83BD75;
}

.menu{
    float: right;  
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    border: 1px solid;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li:hover{
    text-decoration: underline;
}
  .bg {
    width: 773px;
    height: 802px;
    background: rgba(255,254,254,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .contact {
    width: 178px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 50px;
    right: 100px;
    font-family: Arial;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: right;
  }
  .head {
    width: 198px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 37px;
    left: 22px;
    font-family: Pacifico;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }


  .halo {
    width: 252px;
    color: rgba(29,177,115,1);
    position: absolute;
    top: 94px;
    left: 23px;
    font-family: Podkova;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .input {
    width: 390px;
    color: rgba(104,14,251,1);
    position: absolute;
    top: 134px;
    left: 22px;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .form {
    width: 435px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 192px;
    left: 23px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .info {
    width: 149px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 510px;
    left: 13px;
    font-family: Tahoma;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .bgconme {
    width: 101px;
    height: 30px;
    background: rgba(14,62,231,1);
    opacity: 1;
    position: absolute;
    top: 530px;
    left: 13px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .conme {
    width: 75px;
    color: rgba(255,247,247,1);
    position: absolute;
    top: 535px;
    left: 20px;
    font-family: Roboto Slab;
    font-weight: Black;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  p{
    margin: 10px 0px 10px 0 px;
    padding: 10px 0px 10px 0px;
}

.tengah{
    text-align: center;
    width: 100%;
}

.mobil-list{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-mobil{
    width: 20%;
    margin: auto;
}

.kartu-mobil img{
    width: 80%;
    border-radius: 50%;
}

.kartu-mobil p{
    font-family: 'comic sans-ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #83BD75;
}

#contact{
    background: #dedede;
    padding: 50px 0px 50px 0px;
}

.footer{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section{
    width: 20%;
    margin: 0 auto;
}

h3{
    font-family: 'comis sans -ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color:#83BD75;
    width: 100%;
    line-height: 50px;
}
#copyright{
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}
